<content>
  <div class="table-data">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="col">Administered</th>
          <th scope="col">{{census?.administered}}</th>
        </tr>
        <tr>
          <th scope="row">People Vaccinated</th>
          <td>{{census?.people_vaccinated}}</td>
        </tr>
        <tr>
          <th scope="row">People Partially Vaccinated</th>
          <td>{{census?.people_partially_vaccinated}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</content>