<content>
  <div class="table-data">
    <div class="align-table">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="col">State Name</th>
            <th scope="col">{{stateDetails?.All?.capital_city}}</th>
          </tr>
          <tr>
            <th scope="row">Confirmed</th>
            <td>{{census?.confirmed}}</td>
          </tr>
          <tr>
            <th scope="row">Active</th>
            <td>{{census?.confirmed - census?.recovered + census?.deaths}}</td>
          </tr>
          <tr>
            <th scope="row">Recovered</th>
            <td>{{census?.recovered}}</td>
          </tr>
          <tr>
            <th scope="row">Death</th>
            <td>{{census?.deaths}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">State Name</th>
            <th scope="col">{{stateDetails?.All?.capital_city}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Confirmed</th>
            <td>{{census?.confirmed}}</td>
          </tr>
          <tr>
            <th scope="row">Active</th>
            <td>{{census?.confirmed - census?.recovered + census?.deaths}}</td>
          </tr>
          <tr>
            <th scope="row">Recovered</th>
            <td>{{census?.recovered}}</td>
          </tr>
          <tr>
            <th scope="row">Death</th>
            <td>{{census?.deaths}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">State Name</th>
            <th scope="col">{{stateDetails?.All?.capital_city}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Confirmed</th>
            <td>{{census?.confirmed}}</td>
          </tr>
          <tr>
            <th scope="row">Active</th>
            <td>{{census?.confirmed - census?.recovered + census?.deaths}}</td>
          </tr>
          <tr>
            <th scope="row">Recovered</th>
            <td>{{census?.recovered}}</td>
          </tr>
          <tr>
            <th scope="row">Death</th>
            <td>{{census?.deaths}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</content>