<mat-sidenav-container class="tp-container">
  <mat-sidenav mode='side' opened>
    <mat-nav-list>
      <a mat-list-item routerLink='home'> Home </a>
      <a mat-list-item routerLink='states'> State </a>
      <a mat-list-item routerLink='vaccine'> Vaccine </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row country-section">
      <div class="col-md-6">
        <h4>{{countryString}}</h4>
      </div>
      <div class="col-md-6">
        <select id="country" #name (change)="onChange(name.value)">
          <option>Select Country</option>
          <option *ngFor="let name of country">{{name}}</option>
        </select>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
